<div class='post'>
  <div class="title">
    <h3>Title:
    <%= @post.title %></h3>
  </div>

  <div class="content">
    <%= simple_format @post.content %>
  </div>

  <div class="user">
    <strong>Created by </strong>
    <%= @post.user.present? ? @post.user.email : "an anonymous user" %>,
    <%= time_ago_in_words(@post.created_at) %> ago
  </div>
</div>
<hr>
<h3> 댓글입니다.</h3>
<form action='/posts/<%=@post.id%>/comments/create' method='post'>
  <input type='text' name='input_comment'>
  <input type = 'submit'>
</form>
<hr>
<% @comments.each do |comment| %>
  <p>
    <%= comment.content %> <a href='/posts/<%=@post.id%>/comments/destroy/<%=comment.id%>'  data-method='post' data-confirm='댓글을 삭제합니다'>[x]</a>
    </p> 
<% end %>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
<%= link_to 'Back', posts_path, class: 'btn btn-default' %>